/* css resets code statrs from here  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
/* css resets ends here   */
body {
  font-size: 1rem;
  font-family: sans-serif;
  line-height: 1.7;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 1370;
  margin: 0 auto;
  padding: 0 148px;
}
/* padding */
.padding {
  padding: 80px 189px;
}
/* flex.... */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_wrap {
  flex-wrap: wrap;
}
.justify-start {
  justify-content: flex-start;
}
.align-start {
  align-items: flex-start;
}
.flex_60 {
  flex: 0 1 60%;
}
.flex_48 {
  flex: 0 1 48%;
}
.flex_50 {
  flex: 0 1 50%;
}
.flex_44 {
  flex: 0 1 44%;
}
.flex_40 {
  flex: 0 1 40%;
}
.flex_30 {
  flex: 0 1 30%;
}
.flex_23 {
  flex: 0 1 23%;
}
.flex_20 {
  flex: 0 1 20%;
}
/* button ..... */
.btn {
  border-radius: 4px;
  padding: 10px 24px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
.btn_primary {
  background-color: #f9646b;
}
.btn_secondary {
  color: #f9646b;
  border: 2px solid #f9646b;
  background-color: white;
  text-transform: capitalize;
}
/* heading... */
.subheading {
  font-size: 40px;
  font-weight: 700;
  /* padding: 8px 0; */
}
/* tophead_sec */
.tophead_sec {
  background-color: #012d5b;
  color: white;
  padding: 14px 0;
}
.tophead_sec i {
  color: white;
  font-size: 18px;
}
.social_media_icon {
  margin-left: 20px;
}
.tophead_sec small {
  font-size: 17px;
  /* font-weight: 600; */
}
.email_sec {
  margin-left: 60px;
}
/* header */
.header {
  padding: 16px 0;
}
.brand_name {
  font-weight: 800;
  font-size: 32px;
  color: #002d5b;
}
.nav_menu {
  margin-right: 92px;
}
.nav_menu a {
  font-size: 14px;
  font-weight: 600;
  color: #002d5b;
  text-transform: uppercase;
}
.nav_menu li {
  margin-right: 20px;
}
/* Home section ..... */
.first_sec {
  background: url(./media/h1_hero.jpg);
  width: 100%;
  height: 80vh;
  background-size: cover;
}
.first_sec h1 {
  font-size: 50px;
  font-weight: 900;
  color: #002d5b;
  margin-bottom: 25px;
}
.first_sec h2 {
  color: #f9646b;
}
.first_container {
  padding: 40px 189px;
}
/* about_sec */
.about_sec {
  background-color: #f6f9ff;
}
.about_sec img {
  width: 100%;
  /* height: 250px; */
}
.about_sec h2 {
  font-size: 24px;
  font-weight: 550;
  padding: 8px 0;
}
p {
  color: #8088a9;
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.7;
}
.about_card {
  border: 5px solid #f9646b;
  padding: 20px;
}
.about_card a {
  color: black;
  font-size: 14px;
}
.about_sec hr {
  width: 35%;
  margin: 20px 0px;
  height: 4px;
  border: none;
  background-color: #f9646b;
}
.article_img {
  width: 100%;
}
.article_description {
  padding: 30px 20px;
  height: auto;
  width: 30%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 1)
  );
  position: absolute;
  left: 650px;
  /* bottom: 2px; */
}

/* service */
.heading {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
}

.service_card {
  width: 25%;
  height: auto;
  padding: 32px;
  background-color: #f6f9fe;
  text-align: center;
}
.service_card h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 16px 0;
}
.service_btn {
  text-align: center;
  margin-top: 90px;
}
/* cases_sec */
.cases_sec {
  background-color: #f6f9fe;
}
.cases_article {
  padding-right: 40px;
}
.cases_sec img {
  width: 50%;
  height: auto;
}
/* blog section.... */
.blog_cotainer {
  text-align: center;
}
.blog_cotainer p {
  color: black;
  font-size: 24px;
  font-weight: 600;
}
.review_star {
  color: #fbba42;
  text-align: center;
}
.username {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
}

.blog_cotainer a {
  color: #f9646b;
  font-size: 16px;
}
.recent_news_container img {
  width: 100%;
}
.news_card {
  width: 30%;
  height: auto;
}
.recent_news_container a {
  color: #f9646b;
}
.recent_news_container h3 {
  font-size: 20px;
  color: black;
  font-weight: 600;
}
.recent_news_container h4 {
  color: #8088a9;
  font-size: 12px;
}

.post_category {
  margin-top: 32px;
}
.contact_sec {
  background-color: #012d5b;
  color: white;
}
.contact_sec p {
  color: white;
}
.contact_text {
  width: 48%;
  padding-right: 10px;
}
.contact_form {
  width: 48%;
  padding-left: 10px;
}
.form_control {
  display: block;
  width: 46%;
  color: white;
  padding: 8px 4px;
  border: 3px solid #435f7c;
  background-color: #012d5b;
  margin-top: 12px;
  border-radius: 4px;
  font-family: sans-serif;
}
.contact_sec .btn_primary {
  width: 23%;
  margin-top: 12px;
  padding: 5px 24px;
  text-align: center;
  text-transform: capitalize;
}
/* footer..... */
.footer_col1 {
  width: 25%;
  padding-right: 60px;
}
.footer_logo img{
  width: 60%;
  padding-bottom: 10px;
}
.footer_icon_flex{
  display: flex;
  justify-content: start;
}
.footer_icon a{
  color: black;
  padding-right: 20px;
}
.footer_col {
  width: 20%;
  padding-right: 40px;
}
.footer_menu_heading a {
  font-size: 20px;
  font-weight: 500;
  color: #012d5b;
}
.footer_col1 p {
  color: #8088a9;
  font-size: 14px;
}
.ft_menu a,
address a {
  color: #8088a9;
  font-size: 14px;
}
.footer_menu_heading a:hover,
.ft_menu a:hover {
  color: #f9646b;
}
.copyright_sec i,a{
  color:#f9646b
}
small span{
  color: #8088a9;
}
.copyright_sec{
  font-size: 16px;
  text-align: center;
}
hr{
  margin: 20px 0;
}
.footer{
  padding: 80px 189px 20px 189px;
}