/* css resets code statrs from here  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
/* css resets ends here   */
body {
  font-size: 1rem;
  font-family: sans-serif ;
  line-height: 1.7;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 1370;
  margin: 0 auto;
  padding: 0 148px;
}
/* padding */
.padding {
  padding: 80px 0;
}
/* flex.... */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_wrap {
  flex-wrap: wrap;
}
.justify-start {
  justify-content: flex-start;
}
.align-start {
  align-items: flex-start;
}
.flex_60 {
  flex: 0 1 60%;
}
.flex_48 {
  flex: 0 1 48%;
}
.flex_50 {
  flex: 0 1 50%;
}
.flex_44 {
  flex: 0 1 44%;
}
.flex_40 {
  flex: 0 1 40%;
}
.flex_30 {
  flex: 0 1 30%;
}
.flex_23 {
  flex: 0 1 23%;
}
.flex_20 {
  flex: 0 1 20%;
}
/* button ..... */
.btn{
    border-radius: 4px;
    padding: 10px 24px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.btn_primary{
    background-color: #F9646B;
}
/* tophead_sec */
.tophead_sec {
  background-color: #012d5b;
  color: white;
  padding: 16px 0;
}
.tophead_sec i {
  color: white;
  font-size: 18px;
}
.social_media_icon {
  margin-left: 20px;
}
.tophead_sec small {
  font-size: 17px;
  /* font-weight: 600; */
}
.email_sec {
  margin-left: 60px;
}
/* header */
.header {
  padding: 10px 0;
}
.brand_name {
  font-weight: 800;
  font-size: 32px;
  color: #002d5b;
}
.nav_menu{
    margin-right: 92px;
}
.nav_menu a {
  font-size: 14px;
  font-weight: 600;
  color: #002d5b;
  text-transform: uppercase;
}
.nav_menu li{
    margin-right: 20px;
}
/* first section ..... */
.first_sec{
    background: url(./media/h1_hero.jpg);
    width: 100%;
    height: 90vh;
    background-size: cover;
}
.first_sec h1{
    font-size: 50px;
    font-weight: 900;
    color: #002D5B;
    margin-bottom: 25px;
}
.first_sec h2{
    color:#F9646B;
}